body{
  font-family: sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
}

nav ul
{
  display: flex;
  gap: 34px;
  list-style: none;

}

nav button{
  background-color: red;
  color: white;
  height: 32px;
  width: 65px;
  border-radius: 6px;
  border: 1px solid red;
}


nav button:hover
{
  cursor: pointer;
}


.container{
   height:500px;
   width: 1000px;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 50px;
   display: flex;
   box-shadow: 2px 3px 10px rgb(0, 0, 0);
}

.container .cont-left{
  height: 100%;
  width: 40%;
  padding-left: 40px;
}

.cont-left h1{
  font-size: 3.2rem;
  margin: 8px;
  font-weight: 800;
  letter-spacing: 3;
}

.cont-left p
{
  font-size: 0.7rem;
  margin: 8px;
}

.cont-left .button{
  display: flex;
  gap: 20px;
}

.cont-left button{
  height: 28px;
  width: 95px;
  border-radius: 4px;
}

 .button #shop{
  background-color: red;
  color: white;
  border: 1px solid red;
}


.button #category{
  border: 1px solid black;
}


.button #category:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


.container .cont-image{
  height: 100%;
  width: 60%;
}

.cont-image img{
  height: 100%;
  width: 100%;
}

.cont-left span{
  font-size: 0.7rem;
}


.flipcart_amazon{
  display: flex;
  gap: 3.5px;
  margin-top: 5px;
}

.flipcart_amazon .flipcart{
  height: 28px;
  width: 29px;
}

#flipcart{
  height: 100%;
  width: 100%;
}


.flipcart_amazon .amazon{
  height: 25px;
  width: 31px;
  margin-top: 2px;
}

#amazon{
  height: 100%;
  width: 100%;
}

.cont-image #nike{
  width: 710px;
}

